<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Article</th>
          <th>Prix</th>
          <th>Stock</th>
          <th>Catégorie</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let item of liste" >
            
          <td>{{ item.libelle }}</td>
          <td>{{ item.prix }}</td>
          <td>{{ item.stock }}</td>
          <td>{{ item.categorie.libelle }}</td>
       <td>  
        <button class="btn btn-primary btn-sm" style="margin: 10px;"  (click)="onEditArticleClick(item.id)">Editer</button>
        <button class="btn btn-danger btn-sm">Supprimer</button>
      </td>
  </tr>
    
    </tbody> 
            
       
</table>
</div>
    