/* .button{
    height: 2rem;
    font-size: 1rem !important;
    margin-top: -5px;
} */


  /* .table-row {
    display: flex;
    border-top: 1px solid #ccc;
  }
  

  .table-cell {
    flex: 1;
    padding: 8px;
  }
  
  .table-cell:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   */