<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Article</th>
          <th>Prix</th>
          <th>Stock</th>
          <th>Catégorie</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-item [item]="item" (editArticleClicked)="onEditClick($event)" (deleteArticleClicked)="onDeleteClick($event)"  *ngFor="let item of liste" >
            
      <!-- app-item [item]="item" (editArticleClicked)="onEditClick($event)" (deleteArticleClicked)="onDeleteClick($event)"></app-item> -->
  </tr>
    
    </tbody> 
            
       
</table>
</div>

<!-- <div class="table">
  <div class="table-row header">
    <div class="table-cell">Article</div>
    <div class="table-cell">Prix</div>
    <div class="table-cell">Stock</div>
    <div class="table-cell">Categorie</div>
    <div class="table-cell">Action</div>
  </div>

  <div class="table-row" *ngFor="let article of liste">
    <app-item>[item]="article"</app-item>
  </div>
</div>     
     -->