<div class="skeleton-header"></div>
<div class="skeleton-content">
    <div class="up">
        <div class="fields">

            
                <div class="field"></div>
                 <div class="field"></div>
                 <div class="field"></div>
                 <div class="field"></div>
                 <div class="field"></div>
                 
        </div>
        <div class="image">
            <div class="img-icon"></div>
            <div class="ref"></div>
        </div>
    </div>
    <div class="mid"></div>
    <div class="down">

        <div class="liste">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="liste">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="liste">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>
</div>
<div class="skeleton-footer"></div>
