input, select{
    background-color: rgba(255, 254, 254, 0.939)!important;
}
.subutn{
    background-color: rgba(163, 95, 7, 0.493);
    box-shadow: 5px 5px 5px rgba(101, 101, 101, 0.283)
}

label{
    color: rgba(146, 84, 2, 0.493);
}

.fournisseur-buttons button {
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.file-input{
   
    cursor: pointer;
    background-color: rgba(136, 133, 133, 0.112);
    width: 15rem;
    transform: translate(70%,-10%);
     background-image: url(https://media.istockphoto.com/id/1175387759/vector/camera-icon.jpg?s=612x612&w=0&k=20&c=paC1ZkU31dH2B5epXqT_cYOyca5uqh4v0WpFUldCUBE=);
    background-repeat: no-repeat;
    background-size: cover; 
  }
  
  /* Hide the default file input text */
  .form-control[type="file"] {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  ul{
    list-style: none;
    overflow: auto;
  }
  
  li{
    height: 1.8rem;
    background-color: white;
    font-size: 1rem;
    color: #04121b;
    border:1px;
    text-align: center;
    padding-top: 0.5rem;
    cursor: pointer;

}

.close-fournisseur{
    position: relative;
    right: -5%;
    color:red
}