<form [formGroup]="articleForm" (ngSubmit)="submitFn">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row" style="">
      <div class="col-md-6">
          <div class="form-outline" style="margin-bottom: 20px;">
            <input  (input)="updateRef()" name="libelleInput"  type="text" id="form6Example1" class="form-control"  formControlName="libelle"/>
            <label class="form-label" for="form6Example1">Libelle</label>
            <div *ngIf="articleForm.get('libelle')?.hasError('required') && articleForm.get('libelle')?.touched" class="text-danger">
                Libelle is required
            </div>
            <div *ngIf="labelTaken" style="color:red">
              Libelle already taken
            </div>
          </div>

          <div class="form-outline mb-4">
            <input type="text" id="form6Example3" class="form-control" formControlName="prix"/>
            <label class="form-label" for="form6Example3">Prix</label>
            <div *ngIf="articleForm.get('prix')?.hasError('required') && articleForm.get('prix')?.touched" class="text-danger">
                prix is required
            </div>
            <div *ngIf="articleForm.get('prix')?.hasError('pattern') && articleForm.get('prix')?.touched" class="text-danger">
              Prix must be a positive integer.
            </div>
            
          </div>


        <div class="form-outline mb-4">
          <input  type="text" id="form6Example4" class="form-control" formControlName="stock" />
          <label class="form-label" for="form6Example4">Stock</label>
          <div *ngIf="articleForm.get('stock')?.hasError('required') && articleForm.get('stock')?.touched " class="text-danger">
              stock is required
          </div>
          <div *ngIf="articleForm.get('stock')?.hasError('pattern') && articleForm.get('stock')?.touched " class="text-danger">
            Stock must be a positive integer.
          </div>
        </div>

        <div class="form-outline mb-4">
          <select id="form6Example6" class="form-control"   (change)="updateRef($event)" name="categorie" formControlName="categorie_id">
              <option value="0" >Categorie</option>
              <option *ngFor=" let op of categs" [value]="op.id">{{op.libelle}}</option>
             
          </select>
          
        </div>
        <div class="form-outline mb-4">
          
          <input #fournisseurInput type="text" id="form6Example5" class="form-control" (input)="searchFournisseurs($event)"  [value]="fournisseurInput" formControlName="fournisseurs" />
          <label class="form-label" for="form6Example5">Fournisseur:</label>
          <div *ngIf="articleForm.get('fournisseur')?.hasError('required') && articleForm.get('fournisseur')?.touched " class="text-danger">
            fournisseur is required
          </div>
          <ul #fournisseurUl >
            <li *ngFor="let fournisseur of filteredFournisseurs" (click)="addFournisseur(fournisseur)">
              {{fournisseur.libelle}}
            </li>
          </ul>
        </div>

       


      </div>

      <div class="col-md-6">
        
        <div class="file-input" style="height: 15rem;">
          <input
            style="display: none;"
            type="file"
            id="form6Example2"
            class="form-control"
            (change)="previewImage($event)"
          />
          <label  for="form6Example2" style="width: 100%; height: 100%; cursor: pointer;">
            <div style="width: 100%; height: 100%; position: relative;">
              <div class="form-outline" style="position: absolute; width: 100%; height: 100%;">
              </div>
              <img
                *ngIf="imagePreview || this.article?.image"
                [src]="imagePreview ? imagePreview:'http://127.0.0.1:8000/storage/' +  this.article?.image"
                alt="Image Preview"
                style="width: 100%; height: 100%; display: block;"
              />
            </div>
          </label>
        </div>
        
         
        <div class="form-outline mb-4">
          <input type="text" id="form6Example5" class="form-control"  name="refInput" formControlName="ref" />
          <label class="form-label" for="form6Example7">REF</label>
        </div>
      </div>
    

        
        


      
        
    </div>
      
  
       
      
    <button [disabled]="labelTaken"(click)="submitFn()" type="submit" class="btn btn-primary  mb-4 subutn">{{submitButtonLabel}}</button>
  </form>
  <div class="fournisseur-buttons">
      <button *ngFor="let fournisseur of selectedFournisseurs" (click)="unselectFournisseur(fournisseur)">
        {{ fournisseur.libelle }}  
  
      </button>
   
  </div>

 