<div class="container">
    <app-vform (submitEvent)="submitFn" [typeVenteCategories]="categoriesTypeVente" [articlesConfectionTab]="articlesConfections" (submitEvent)="submitFn($event)" [toBeEdittedArticle] ="toBeEdittedArticle" ></app-vform>
    <app-vliste [liste]="articlesVente" (deleteEvent)="onDelete($event)" (editEvent)="onEdit($event)"></app-vliste>
    <app-vpagination [currentPage]="currentPage"
    [last]="totalp"
    (nextClicked)="next()"
    (previousClicked)="previous()"
    (goToPageClicked)="goToPage($event)"></app-vpagination>
</div>